{% extends "modelo.html" %}
{% block conteudo %}

<h2>Fundamentos da Programação em Python</h2>
<ul>
    <li><strong>Estruturas de seleção:</strong> if, elif, else. Exemplo: <code>if x > 10: print("Maior que 10")</code></li>
    <li><strong>Estruturas de repetição:</strong> for, while. Exemplo: <code>for i in range(5): print(i)</code></li>
    <li><strong>Vetores e matrizes:</strong> listas e listas de listas. Exemplo: <code>matriz = [[1,2], [3,4]]</code></li>
    <li><strong>Funções e procedimentos:</strong> def nome_funcao(): ...</li>
    <li><strong>Tratamentos de exceção:</strong> try, except. Exemplo: <code>try: ... except: ...</code></li>
</ul>

{% endblock %}
