{% extends  "modelo.html" %}

{% block conteudo %}

<h1><strong>Equipe formada por:</strong></h1>
        <h2><strong>Adryano</strong></h2>
            <p> <a href="https://www.linkedin.com/in/adryano-de-oliveira-817b02351/"> LinkedIN de Adryano</a> </p>
        <h2><strong>Arthur</strong></h2>
            <p> <a href=""> LinkedIN de Arthur</a> </p>
        <h2><strong>Padilha</strong></h2>
            <p> <a href="https://www.linkedin.com/in/matheus-padilha-ramos-neves-7b2138365/"> LinkedIN de Padilha</a> </p>
        <h2><strong>Laurent</strong></h2>
            <p> <a href=""> LinkedIN de Laurent</a> </p>

<a href="/">Página Inicial</a>


{% endblock %}